html{
  scroll-behavior: smooth; /* A rolagem para a seção será feita de forma suave, criando uma transição visual agradável.*/
}

body{
  background-color: #1F2235;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  padding-top: 60px;
  border: 0px;
  margin: 0px;
}

a{
  text-decoration: none;
}

/* Para visualização desktop*/
@media screen and (min-width: 1440px) {
  main, header, footer {
    width: 1440px;
    margin: auto;
  }

  .form-container input{
    width: 410px !important;
  }
}

/* Desktop menores */
@media screen and (min-device-width:961px) and (max-device-width:1440px) {
  main, header, footer {
    width: 95%;
    margin: auto;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 960px) {
  main, header, footer {
    width: 95%;
    margin: auto;
  }

  .form-container .input-grupo{
    display: block !important;
  }

  .form-container input{
    width: 95% !important;
  }

  .form-container textarea{
    width: 100% !important;
    height: 150px !important;
  }
}

/* Mobile */
@media screen and (max-device-width: 768px) and (min-device-width:481px) {
  main, header, footer {
    width: 95%;
    margin: auto;
  }

  .menu {
    display: none; /* O menu fica escondido inicialmente */
    width: 100%;
    background-color: #1F2235;
    text-align: center;
    padding: 10px 0;
  }

  /* O ícone de menu (☰) será exibido */
  .menu-toggle {
    display: block !important;
    margin-right: 5%;
    padding: 20px;
  }

  /* Quando o menu estiver visível, ele aparece em bloco */
  .menu.show {
    display:block;
  }

  /* Ajuste dos itens do menu em telas pequenas */
  .menu ul {
    display: flex;
    flex-direction: column;
    align-items:flex-end; /* Centraliza os itens */
    margin-top: 30px !important;
    gap: 10px;
    transition: 0.8s ease;
  }

  .menu ul li {
    margin: 10px 0;
    border-bottom: #ddd 1px solid;
    width: 100%;
    text-align: center;
    justify-content: center;
    height: 10vh;
  }

  section#home{
      margin-top: -80px !important;
  }

  .social-icons{
    gap: 20px !important;
  }

  .img_me img{
    max-width: 90% !important;
    margin-top: 150px;
  }

  #icon_sobre{
    display: none;
  }

  section#sobre .content{
    width: 100%;
  }

  .form-container .input-grupo{
    display: block !important;
  }

  .form-container input{
    width: 95% !important;
  }

  .form-container textarea{
    width: 100% !important;
    height: 150px !important;
  }
}

@media screen and (max-device-width: 480px) {
  main, header, footer {
    width: 95%;
    margin: auto;
  }

  .menu {
    display: none; /* O menu fica escondido inicialmente */
    width: 100%;
    background-color: #1F2235;
    text-align: center;
    padding: 10px 0;
  }

  /* O ícone de menu (☰) será exibido */
  .menu-toggle {
    display: block !important;
    margin-right: 5%;
    padding: 20px;
  }

  /* Quando o menu estiver visível, ele aparece em bloco */
  .menu.show {
    display:block;
  }

  /* Ajuste dos itens do menu em telas pequenas */
  .menu ul {
    display: flex;
    flex-direction: column;
    align-items:flex-end; /* Centraliza os itens */
    margin-top: 30px !important;
    gap: 10px;
    transition: 0.8s ease;
  }

  .menu ul li {
    margin: 10px 0;
    border-bottom: #ddd 1px solid;
    width: 100%;
    text-align: center;
    justify-content: center;
    height: 10vh;
  }

  section#home{
      margin-top: -80px !important;
      text-align: center;
      width: 95%;
  }

  section#home .content{
    width: 100%;
    float: none;
  }

  section#home .social-icons{
    float: none;
    justify-content: center;
  }

  section#sobre{
    width: 95%;
  }

  section#sobre .content{
    width: 100% !important;
    margin-left: 0px !important;
    text-align: center;
  }

  section#sobre .tabela_info{
    width: 100% !important;
    text-align: center;
  }

  .tabela_info tbody tr td{
    font-size: 13px !important;
  }

  .social-icons{
    gap: 20px !important;
  }

  .img_me{
    display: none;
  }

  #icon_sobre{
    display: none;
  }

  .form-container .input-grupo{
    display: block !important;
  }

  .form-container input{
    width: 90% !important;
  }

  .form-container textarea{
    width: 100% !important;
    height: 150px !important;
  }

  .conteudo_portifolio,
  .conteudo_formacao{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) !important;
    gap: 20px;
    padding: 20px;
  }
}

/* Estilo do header */
/* Estilo inicial do header sem sombra */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #1F2235;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: box-shadow 0.3s ease;
}

/* Estilo do header com sombra ao rolar */
header.scroll {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu{
  margin-right: 3%;
}

/* Estilo da logo */
.logo{
  margin-left: 3%;
}
.logo a {
  text-decoration: none;
  font-size: 30px; 
  font-weight: 800; 
  text-transform: uppercase;
  color: #ff4a57;
}

.menu ul {
  list-style: none; /* Remove os marcadores de lista */
  padding: 0;
  margin: 0;
  display: flex;
}

.menu ul li {
  margin: 2px; /* Espaçamento entre os itens */
}

.menu ul a {
  text-decoration: none; /* Remove o sublinhado dos links */
  padding: 10px; /* Espaçamento interno */
  color: #ffffff;
  position: relative; /* Necessário para o pseudoelemento */
  display: inline-block; /* Garante que o pseudoelemento funcione corretamente */
  text-transform: capitalize;
}

.menu ul li.destaque{
  background-color: #ff4a57;
  border-radius: 3px;
  transition: 0.8s ease;
  font-weight: 500;
  border: none;
}

.menu ul a::after{
  content: ""; /* Cria o pseudoelemento */
  position: absolute; /* Posiciona em relação ao link */
  bottom: 0; /* Fica na parte inferior */
  left: 0; /* Começa na esquerda */
  width: 0; /* Largura inicial (invisível) */
  height: 2px; /* Altura da borda */
  background-color: #fff; /* Cor da borda */
  transition: width 0.8s ease; /* Animação suave da largura */
}

.menu ul li.destaque:hover {
  background-color: #ffffff; /* Cor de fundo ao passar o mouse */
  transition: 0.8s ease;
}

.menu ul li.destaque a:hover{
  color: #ff4a57;
  transition: 0.8s ease;
  font-weight: 500;
}

.menu ul li.destaque a::after {
  display: none; /* Remove o pseudoelemento */
}

.menu ul a:hover::after,
.menu ul a:focus::after,
.menu ul a.active::after {
  width: 100%;
}

/* Menu toggle - ícone ☰ */
.menu-toggle {
  font-size: 30px;
  cursor: pointer;
  display: none; /* Inicialmente não mostrado */
}

/* Conteudo principal */
main {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  margin: 0 auto; /* Centraliza o main no container */
  padding-top: 70px;
  box-sizing: border-box; /* Inclui padding na largura total */
  color: #fff;
}

main h1{
  font-weight: 800;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
}

main h2{
  font-size: clamp(1.2rem, 3.5vw, 1.4rem);
}

main h3{
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}

main h3 a{
  font-size: clamp(1rem, 1.5vw, 1.5rem);
}

main p{
  font-size: clamp(0.9rem, 2vw, 1rem);
}

/* Home */
.content{
  width: 50%;
  float: left;
  margin-top: 90px;
}

.content span{
  color: #ff4a57;
  font-weight: 800;
  text-transform: uppercase;
  font-size: clamp(1.5rem, 1.5vw, 2rem);
}

.content p{
  letter-spacing: 0;
}

.content p a{
  letter-spacing: 0;
  text-decoration: underline;
  color: #fff;
}

.img_me{
  width: 40%;
  margin: 0 auto;
  float: right;
}

.img_me img{
  max-width: 100%;
  height: auto;
  display: block;
}

/* Redes sociais */
.social-icons {
  display: flex;
  gap: 15px;
  float: left;
  margin-top: 10px;
}

.social-icons a {
  font-size: 24px; /* Tamanho do ícone */
  color: #ff4a57; /* Cor padrão */
  text-decoration: none; /* Remove sublinhado */
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #fff; /* Cor ao passar o mouse */
}

/* Conteúdo sobre */
section#sobre div.content{
  float: right;
}

section#sobre div.content h1{
  font-weight: 600;
}

#icon_sobre{
  float: left;
  margin-top: 80px;
  width: 25%;
  margin-left: 10%;
}

#icon_sobre img{
  display: block;
  max-width: 80%;

}

.tabela_info {
  width: 100%; /* Preenche o espaço disponível */
}

.tabela_info td, .tabela_info th {
  padding: 0px 0px 5px 0px;
  text-align: left;
  font-size: clamp(0.9rem, 2vw, 1rem);
}

.tabela_info td:first-child {
  font-weight: bold; /* Destaca a coluna de rótulos */
}

.btn_cv{
  color: #fff;
  font-size: 13px;
  margin-top: 30px;
  letter-spacing: 0.6px;
  font-weight: 600;
  background: #ff4a57;
  line-height: 10px;
  border: none;
  transition: all 0.4s ease-in-out 0s;
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 20px 20px;
  border-radius: 4px;
}

.btn_cv:hover{
  background: #fff;
  color: #ff4a57;
}

/* Conteúdo Portifólio */
#portifolio h1{
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(1.5rem, 3.5vw, 2.5rem);
  margin-top: 100px;
}

#portifolio h1 span{
  color: #ff4a57;
}

.sub_titulo{
  display: block;
  height: 2px;
  width: 70px;
  margin-bottom: 15px;
  bottom: 25px;
  position: relative;
  left: 50%;
  background-color: #ff4a57;
}

.conteudo_portifolio{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  padding: 20px;
}

.block{
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}

.block h2{
  font-weight: 300;
  margin-top: 0px;
}

.block p{
  font-weight: 200;
}

.block a{
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  transition: 0.5s ease;
}

.block a:hover{
  color: #ff4a57;
  transition: 0.5s ease;
}

/* Conteúdo Formação */
#formacao h1{
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(1.5rem, 3.5vw, 2.5rem);
  margin-top: 100px;
}

.conteudo_formacao{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  padding: 20px;
}

.conteudo_formacao .block{
  border: none;
  box-shadow: 0 2px 10px rgb(0 0 0 / 53%);
  border-radius: 3px;
}

.icon_formacao{
  display: inline-block;
  margin-top: 10px;
}

#formacao h1 span{
  color: #ff4a57;
}

/* Contato */
#contato{
  width: 100%;
}

#contato h1{
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  font-size: clamp(1.5rem, 3.5vw, 2.5rem);
  margin-top: 100px;
}

#contato h1 span{
  color: #ff4a57;
}

/* Formulário */
.form-container {
  width: 100%;
  text-align: center;
}

.form-container input{
  background-color: transparent;
  height: 25px;
  width: 55vh;
}
.form-container input,
.form-container textarea,
.form-container button {
  padding: 6px 12px;
  margin-bottom: 15px;
  border: 0.5px solid #e3e3e3;
  font-size: clamp(0.9rem, 2vw, 1rem);
  font-family: 'poppins';
  color: #fff;
}

.form-container .input-grupo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-container textarea {
  resize: none;
  height: 200px;
  background-color: transparent;
  box-sizing: border-box;
  width: 100%;
}

.form-container input:focus,
.form-container textarea:focus {
  border-color: #ff4a57;
  outline: none; /* Remove o contorno padrão */
  transition:  0.3s ease;
}

.form-container button {
  color: #fff;
  margin-top: 30px;
  letter-spacing: 0.6px;
  font-weight: 600;
  background: #ff4a57;
  line-height: 10px;
  border: none;
  transition: all 0.4s ease-in-out 0s;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 20px 20px;
  border-radius: 4px;
}

.form-container button:hover {
  background: #fff;
  color: #ff4a57;
  cursor: pointer;
}

/* Rodapé */
footer{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 100px;
  padding-bottom: 30px;
}

footer .social-icons{
  display: flex;
  justify-content: center;
}

footer .social-icons a{
  color: #fff;
}

footer .social-icons a:hover{
  color: #ff4a57;
}

footer span{
  color: #fff;
  font-size: clamp(0.9rem, 1.5vw, 1rem);
  font-weight: 400;
  text-align: center;
  margin-top: 30px;
}